.navigation__item {
    display: inline-block;
    padding: 0px 40px;
    text-decoration: none;
}

.navigation__list {
    text-align: center;

}

.navigation__link {
    text-decoration: none;
    color: #cfb70c;
}

.navigation__link:focus {
    outline: 2px solid currentColor;
}

.navigation__link:hover {
    color: #ff0000;
    border-bottom: 1px solid;
    outline: none;
}

.navigation__link:active {
    color: #a52a2a;
}
